*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid_container{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    box-shadow: 0px 0px 10px black;
    
}

.grid_64x64{
    height: 7.03125px;
    width: 7.03125px;
}

.grid_64x64:hover{
    background-color: black;
}
.grid_colorFill{
    background-color: black;
}
.hidden{
    background-color: rgb(226, 52, 52);
}


#filledSqr{
    background-color: black;
}