*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    text-align: center;
    width: 100vw;
    height: 100vh;
    
}




.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.column_container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.title{
    font-size: 64px;
    
}
.btn_container{
    display: flex;
    justify-content: center;

}
.reset_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 22em;
    flex-direction: row;
   
}

.random_color_effect{
    background-color: #5faf9e;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}

.slider_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 10em;
}

.slider{
    display: flex;
    height: 20em;
    
}

/* ---------Colors------------ */
.colors{
    display: flex;
    margin-left: 1em;
    width: 15em;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.color_picker_container{
    display:flex;
    flex-wrap: wrap;
    height: 15em;
    width: 15em;
    
}
.color_picker{
    display: flex;
    height: 24px;
    width: 24px;
    cursor: crosshair;
    
    border: 1px solid rgba(2, 2, 2, 0.301);
}
.color_picker:hover{
    transform: scale(1.5);
}
.active{
    transform: scale(1.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}
.random_color{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border: 1px solid black;
}
.water_color{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border: 1px solid black;
}
/* --------------------------*/




.grid_container{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    box-shadow: 0px 0px 10px black;
    cursor: crosshair;
    
}



.grid_32x32{
    height: 18.75px;
    width: 18.75px;
}

.grid_colorFill{
    background-color: black;
    
    
}
